.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: url("/src/loading.png") no-repeat center;
  background-size: contain;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-10%, -90%) rotate(-25deg);
}
